/*Media queries*/
@media (min-width: 320px) and (max-width: 600px){
body {
    overflow-x: hidden;
}
.header {
    padding: 0px;
    grid-template-columns: 1fr;
}
.logo {
    width: 120px;
}
.navbar-toggler{
    margin-left: 5%;
}
.d-flex {
    margin-left: 5%;
}
#navbarTogglerDemo03 {
    margin-left: 5%;
}
.banner img {
    padding: 0px;
    }

.carousel-item {
    height: 500px;
    position: relative;
}
ol , ul {
    padding: 0;
}
.library-grid {
    grid-template-columns: repeat(1, 1fr);
}
.containerlibrary .librarylist {
    position: relative;
}
div .hoverdescription {
    width: 80%;
    transform: translate(15%, 20%);
    .genero, 
    .sinopsis {
        font-size: 12px;
        width: 80%;
    }
}
.rankings {
    grid-template-columns: repeat(1, 1fr);
}
.genres li img {
    width: min(90%, 75rem);
}
#carouselExample {
    height: inherit;
    vertical-align: center;
    position: relative;
    padding: 0 5em;
    max-width: inherit;
	max-height: inherit;
}
#GenresCarousel {
    height: 300px;
    .d-block a img {
        height: 300px;
        width: 100%;
    }
}

.footer {
    padding-bottom: 1rem;
}
.links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.socials a img {
    width: 25px;
}
.copyright p {
    font-size: 12px;
    margin-bottom: 0px;
}
.logo img {
    width: 120px;
    padding-left: 0px;
}
}

@media (min-width: 601px) and (max-width: 990px){
.navbar-toggler{
    margin-left: 5%;
}
.d-flex {
    margin-left: 5%;
    margin-top: 5%;
}
#navbarTogglerDemo03 {
    margin-left: 5%;
}
.library-grid {
    grid-template-columns: repeat(2, 1fr);
}
ol, ul {
    padding: 0;
}
div .hoverdescription {
    width: 50%;
    transform: translate(0.33%, -20%);
    .genero, 
    .sinopsis {
        font-size: 14px;
        width: 100%;
    }
}
#GenresCarousel {
    height: 500px;
    .d-block a img {
        object-fit: contain;
        height: inherit;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}
.rankings {
    grid-template-columns: repeat(2, 1fr);
}
.links ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials a img {
    width: 25px;
}
.copyright {
    font-size: 16px;
}
}