/*Media queries*/
@media (min-width: 320px) and (max-width: 600px){
body {
    overflow-x: hidden;
}

.header {
    padding: 0px;
    grid-template-columns: 1fr;
}
.logo {
    width: auto;
}

.carousel-item {
    height: 500px;
}

.library-grid {
    grid-template-columns: repeat(1, 1fr);
}

.rankings {
    grid-template-columns: repeat(1, 1fr);
}

.genres li img {
    width: min(90%, 75rem);
}

#carouselExample {
    height: inherit;
    object-fit: cover;
    vertical-align: center;
    position: relative;
    padding: 0 5em;
    max-width: inherit;
	max-height: inherit;
}
}

@media (min-width: 601px) and (max-width: 990px){
.library-grid {
    grid-template-columns: repeat(2, 1fr);
}

.rankings {
    grid-template-columns: repeat(2, 1fr);
}
}
