* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*Home and General design*/
.body {
  background-color: #FFF2CC;
}

#main {
  padding: 25px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner img {
  width: 80%;
  padding: 20px;
  border-radius: 15%;
  display: flex;
  flex-direction: space-around;
}
.banner p {
  padding: 25px;
  font-style: italic;
  font-size: 18px;
  display: flex;
  flex-direction: center;
}

.titulo {
  padding: 25px;
  display: flex;
  justify-content: center;
}

/*Carousel/Slider for HOME*/
.carousel-item {
  height: 700px;
  margin: 0 auto;
  width: 100%;
}

.carousel-item img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: inherit;
  width: inherit;
  max-width: inherit;
  max-height: inherit;
  margin: 0 auto;
  -o-object-position: 0% 40%;
     object-position: 0% 40%;
}

/*Library Page*/
.divlibrary nav ol li {
  grid-template-columns: 100%;
  grid-template-rows: 400px 150px;
  width: min(90%, 75rem);
  vertical-align: middle;
}

.library-grid {
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.library li img {
  height: 100%;
}

/*Genres*/
.genreslist {
  gap: 15px;
  place-items: center;
  border-bottom: 1px solid rgba(133, 141, 133, 0.5607843137);
  margin: 25px;
}

h2 {
  display: flex;
  justify-content: flex-start;
  padding: 25px;
}

.genres {
  list-style-type: none;
  display: flex;
  flex-direction: space-between;
  flex-flow: row wrap;
  gap: 25px;
}
.genres li img {
  height: 400px;
  list-style-type: none;
}
.genres li p {
  text-align: center;
  font-size: inherit;
  padding-top: 15px;
  font-style: oblique;
  font-weight: 500;
}

.carousel-control-prev, .carousel-control-next {
  filter: invert(100%);
  font-weight: bolder;
}

#GenresCarousel {
  height: 500px;
}

/*Rankings*/
.divrankings nav ol li {
  grid-template-columns: 100%;
  grid-template-rows: 400px 150px;
  width: min(90%, 75rem);
  vertical-align: middle;
  margin-top: 5rem;
}

.rankings {
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/*Submissions*/
.form {
  padding: 5%;
}

.col-12 button {
  background-color: #581c1c;
  color: #DFA67B;
  border-color: #581c1c;
  margin: 0px 30px 0px 0px;
}
.col-12 button:hover {
  background-color: #DFA67B;
  border-color: #581c1c;
}

.divlibrary nav ol li, .library-grid, .divrankings nav ol li, .rankings {
  display: grid;
  place-items: center;
}

/*Header*/
.navbar {
  background-color: #F4B183;
}

.nav-item a {
  color: #581c1c;
}
.nav-item a:hover {
  color: #8C8570;
}

.navbar-brand img {
  width: 150px;
}

.d-flex input {
  width: 200px;
  box-sizing: border-box;
  border: 2px #581c1c;
  border-radius: 4px;
  font-size: 15px;
  height: 40px;
  background-color: #FFD8C2;
  background-image: url("../img/searchicon.svg");
  background-position: 10px 10px;
  background-size: 25px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.d-flex button {
  background-color: #581c1c;
  color: #DFA67B;
  border-color: #581c1c;
  margin: 0px 30px 0px 0px;
}
.d-flex button:hover {
  background-color: #DFA67B;
  border-color: #581c1c;
}

.btn-outline-success:not(:disabled):not(.disabled):focus,
.btn-outline-success:not(:disabled):not(.disabled):active {
  border-color: #581c1c;
  background-color: #FFD8C2;
}

/* Footer */
.footer {
  background-color: #F4B183;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 3fr;
  padding: 10px;
  gap: 2%;
}

.footerlinks ul {
  display: flex;
  flex-direction: space-between;
  padding-left: 15%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.logo img {
  width: 150px;
}

.copyright {
  display: flex;
  flex-direction: space-around;
  flex-wrap: wrap;
  padding-left: 10%;
}

.socials li {
  text-decoration: none;
  list-style-type: none;
}
.socials li img {
  width: 35px;
  display: flex;
  flex-direction: space-around;
}

/*Media queries*/
@media (min-width: 320px) and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .header {
    padding: 0px;
    grid-template-columns: 1fr;
  }
  .logo {
    width: 120px;
  }
  .navbar-toggler {
    margin-left: 5%;
  }
  .d-flex {
    margin-left: 5%;
  }
  #navbarTogglerDemo03 {
    margin-left: 5%;
  }
  .banner img {
    padding: 0px;
  }
  .carousel-item {
    height: 500px;
    position: relative;
  }
  ol, ul {
    padding: 0;
  }
  .library-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  div .hoverdescription {
    width: 80%;
    transform: translate(20%, 20%);
  }
  div .hoverdescription .genero,
  div .hoverdescription .sinopsis {
    font-size: 12px;
    width: 80%;
  }
  .rankings {
    grid-template-columns: repeat(1, 1fr);
  }
  .genres li img {
    width: min(90%, 75rem);
  }
  #carouselExample {
    height: inherit;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: center;
    position: relative;
    padding: 0 5em;
    max-width: inherit;
    max-height: inherit;
  }
  #GenresCarousel {
    height: 300px;
  }
  #GenresCarousel .d-block a img {
    height: -moz-fit-content;
    height: fit-content;
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .footer {
    padding-bottom: 1rem;
  }
  .links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .socials a img {
    width: 25px;
  }
  .copyright p {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .logo img {
    width: 120px;
    padding-left: 0px;
  }
}
@media (min-width: 601px) and (max-width: 990px) {
  .navbar-toggler {
    margin-left: 5%;
  }
  .d-flex {
    margin-left: 5%;
    margin-top: 5%;
  }
  #navbarTogglerDemo03 {
    margin-left: 5%;
  }
  .library-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  ol, ul {
    padding: 0;
  }
  div .hoverdescription {
    width: 50%;
    transform: translate(0.33%, -20%);
  }
  div .hoverdescription .genero,
  div .hoverdescription .sinopsis {
    font-size: 14px;
    width: 100%;
  }
  #GenresCarousel {
    height: 500px;
  }
  #GenresCarousel .d-block a img {
    -o-object-fit: contain;
       object-fit: contain;
    height: inherit;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .rankings {
    grid-template-columns: repeat(2, 1fr);
  }
  .links ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socials a img {
    width: 25px;
  }
  .copyright {
    font-size: 16px;
  }
}
.hoverdescription {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
  width: 50%;
  transform: translate(32.33%, -10%);
}
.hoverdescription .genero,
.hoverdescription .sinopsis {
  background-color: #FFD8C2;
  color: #581c1c;
  font-size: 16px;
  padding: 16px 32px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 1;
  overflow: hidden;
  width: 35%;
  text-align: center;
}

.containerlibrary:hover .hoverdescription {
  opacity: 0.8;
}/*# sourceMappingURL=styles.css.map */